<ion-view title="Analysis">
	<ion-content>
		<div class="list card">
		  <div class="item">
		    Laminar Flow
		  </div>

		  <div class="item item-body">
		    <img class="full-image" src="img/laminar.png">
		    <p>
		      The highly ordered fluid motion characterized by smooth layers of fluid. The flow of high-viscosity fluids such as oils at low velocities is typically laminar. 
		    </p>
		  </div>
		</div>

		<div class="list card">
		  <div class="item">
		    Turbulent Flow
		  </div>

		  <div class="item item-body">
		    <img class="full-image" src="img/turbulent.png">
		    <p>
		      The highly disordered fluid motion that typically occurs at high velocities and is characterized by velocity fluctuations. The flow of low-viscosity fluids such as air at high velocities is typically turbulent.  
		    </p>
		  </div>
		</div>

		<div class="list card">
		  <div class="item">
		    Transitional Flow
		  </div>

		  <div class="item item-body">
		    <p>
		      A flow that alternates between being laminar and turbulent.  
		    </p>
		  </div>
		</div>

	</ion-content>
</ion-view>