<ion-view view-title="Homepage">
	<ion-content class="has-footer">
		<br>
		<img  style="width:80px;height:80px;" ng-src="img/RE.png"  class="center">
		<h3 style="text-align: center;">ReGas Calculator</h3>
		<div class="padding">
			<p style="text-align: center;" >ReGas is an app to calculate Reynolds number of gas mixture equations.</p>
		</div>
		<div class="row">
		   <div class="col text-center">
		 		<a href="#/landing" class="button button-positive" style="width: 145px">
		  		Start
				</a>
			</div>
		</div>
		<div class="row">
		   <div class="col text-center">
		 		<a href="http://goo.gl/forms/0cJ0LOPE9beoKInr1" class="button button-balanced" style="width: 145px">
		  		Feedback
				</a>
			</div>
		</div>
	</ion-content>
	<div class="bar bar-footer">
		<h6 class="title">Universiti Teknologi PETRONAS</h6>
	</div>
</ion-view>